html, body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 42px;
}

#main {
    width: auto;
    display: block;
    padding: 10px 0;
}

#controlbox {
    width: 525px;
    margin: 0 auto;
    background-color: #CCC;
    border: 1px solid #b8b8b8;
    padding: 10px;

}

#controlpanel {
    background-color: #fff;
    height: 250px;
    padding: 5px;
    overflow: auto;
}

#consoleTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

#consoleSub {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

#forumula {
}

#output {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

#outer {
    height: 612px;
    background: url('http://i151.photobucket.com/albums/s147/yungottii/abveaspi_background_final.png') no-repeat 0 0 scroll;
    background-size: 100%;
    position: relative;

}

#frame {
    text-align: center;
    overflow: auto;
    font-family: 'Wire One', sans-serif;
    font-size: 80px;
    color: black;
    position: absolute;
    top: 10%;
    bottom: 20%;
    left: 15%;
    right: 15%;
}

@media only screen
and (max-width: 1060px) {

    #outer {
        height: 0;
        padding-top: 47.85%;
    }
}

#txt {
    width: 200px;
    font-size: 13px;
    height: 27px;
}

.formButtons {
    line-height: normal;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178acc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    filter: none;
}



.form-control {
  display: in-line;
  width: 25%;
  height: 35px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.428571429;
  color: black;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}







.container {
  border-radius: 6px;
  max-width: 100%;
}


@media screen and (min-width: 768px) {

  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

}



@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}












.featurette-divider {
    margin: 80px 0;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eeeeee;
height: 0;
box-sizing: content-box;
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
}


.row {
margin-right: -15px;
margin-left: -15px;
}

div {
display: block;
}


@media (min-width: 992px)
.col-md-6 {
width: 58.333333333333336%;
}

@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

#lefthandside {
padding-left: 75px;
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
color: #5a5a5a;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333333;
}


.marketing h2 {
font-weight: normal;
}

@media (min-width: 992px)
.featurette-heading {
margin-top: 120px;
}

@media (min-width: 768px)
.featurette-heading {
font-size: 50px;
}

.featurette-heading {
font-weight: 300;
line-height: 1;
letter-spacing: -1px;
}

h1, .h1 {
font-size: 42px;
}

h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
}


.text-muted {
color: #999999;
}

@media (min-width: 768px)
.lead {
font-size: 21px;
}

.lead {
margin-bottom: 20px;
font-size: 16px;
font-weight: 200;
line-height: 1.4;
}

p {
margin: 0 0 10px;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


@media (min-width: 992px)
.col-md-6 {
width: 41.66666666666667%;
}


.footer {
    padding-top: 20px
    color: #777;
    border-top: 1px solid #e5e5e5;
}

